.btnVoltarBusca{
  background-color: #2641B7;
  color: white;
}

.tituloBusca{
  color: #2641B7;
}

.btnBuscar{
  background-color: #DCECF6;
  color: black;
}

.imgBusca{
  background-color: #DCECF6;
}