.navbarDonoDePet {
  background-color: #DCECF6;
}

.btnSaibaMais {
  background-image: linear-gradient(to right, #DEA100 30%, #A67800 70%);
  color: white;
}

.anuncioPagInicial{
  background: #DCECF6;
}

.menuDropdown{
  position: relative;
}

.DropdownItem{
  position: absolute;
}

.show{
  display: block;
}

.hide{
  display: none;
}
