@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F3F3F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 793px;
    width: 1078px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo{
  height: 259px;
  width: 1078px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 

}

.formulario{
  height: 534px;
  width: 1078px;
  display: flex;
  align-items: center;
  flex-direction: column; 
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
}

.titulo h1{
  font-size: 40px;
  margin: 0px;
  color: #7E57C2;
}

.titulo p{
  font-size: 25px;
  margin: 0px;
}

.input input{
  width: 597px;
  height: 74px;
  margin-bottom: 35px;
  border-radius: 30px;
  border: 2px solid #B5B5B5;
  padding-left: 25px;
  font-size: 20px;
}

.btn{
  align-items: center;
  display: flex;
  flex-direction: column;
}

#bt1{
  font-size: 20px;
  width: 333px;
  height: 70px;
  background-color: #7E57C2;
  border-radius: 30px;
  color: white;
}

#bt2{
  margin-top: 10px;
  width: 237px;
  height: 70px;
  font-size: 20px;
  text-decoration: underline;
  border: none;
  background-color: white;
}