.confirmacaoUsuarioTitulo{
    color: #2641B7;
}

.btnConfirmacaoDonoDePet{
    width: 770px;
    height: 420px;
    background-color: #DCECF6;
}

.btnConfirmacaoEmpresa{
    width: 770px;
    height: 420px;
    background-color: #FCE48D;
}