.EsqueceuASenhaTitulo{
    color: #2641B7;
}

.btnEsqueceuASenha{
    background-color: #2641B7;
    color: white;
}

.btnEsqueceuASenha:hover{
    background-color: #2641B7;
    color: white;
}

.cancelarEsqueceuASenha{
    color: black;
}