body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #DCECF6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    /* margin: 5% auto; */
    display: flex;
    height: 750px;
    width: 1500px;
}

.imagem{
    background-color: #2641B7;
    height: 750px;
    width: 750px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #FFFFFF;
    height: 750px;
    width: 750px;
}

.titulo{
    color: #2641B7;
    font-size: 25px;
    text-align: center;
    padding: 24px;
}

.form{
    padding-right:80px;
    padding-left:70px;
}

.form input{
    width: 100%;
}



