body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #DCECF6;
}

.container{
    margin: 6% auto;
    display: flex;
    height: 700px;
    width: 1400px;
}

.imagem{
    background-color: #2641B7;
    height: 700px;
    width: 700px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.formulario{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #FFFFFF;
    height: 700px;
    width: 700px;
}

h1{
    color: #2641B7;
    font-size: 50px;
}



