/* Importando fonte "Poppins" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/* Propriedades para todo o corpo do arquivo */
body {

    margin: 0;
    padding: 0;
    background-color: #DCECF6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Propriedades para o bloco do formulário e imagem */
.container {
    border-radius: 30px;
    display: flex;
    background-color: white;
}

.container .formulario {
    width: 600px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.formulario h1 {
    padding: 0 0 100px 0;
    color: #2641B7;
    font-size: 50px;
}

.formulario input {
    font-size: 20px;
    width: 400px;
    height: 55px;
    border: 2px solid #DFDFDF;
    border-radius: 30px;
}

.formulario ::placeholder {
    color: #b5b5b5;
    font-size: 16px;
    padding-left: 10px;
}

.formulario .email {
    padding: 0 0 20px 0;
}

.formulario a {
    padding: 10px 200px 30px 0;
    text-decoration: none;
    font: 20px bolder;
    font-family: 'Poppins', sans-serif;
    color: #2641B7;
}

.formulario a:hover {
    color: black;
}

.formulario .btn-acessar {
    font-size: 16px;
    background-color: #2641B7;
    color: white;
    height: 55px;
    width: 400px;
    border-radius: 30px;
    border: none;
}

.btn-acessar:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #2641B7;
    border: 1px solid #2641B7;
}

.img-login {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #DEA100;
}

.img-login .login_img {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}